<div class="container text-center">
    <h1>Hello And Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum, sequi aliquid. Dolores nesciunt doloremque soluta totam neque tenetur animi eum itaque, blanditiis vero ratione magni incidunt cupiditate quod eos.</p>
</div>